CREATE POLICY \
Admins
can
view
all
profiles\ ON public.profiles FOR SELECT USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE POLICY \Admins
can
update
all
profiles\ ON public.profiles FOR UPDATE USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true)) WITH CHECK (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE POLICY \Admins
can
view
all
purchases\ ON public.purchases FOR SELECT USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE POLICY \Admins
can
view
all
entitlements\ ON public.entitlements FOR SELECT USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE POLICY \Admins
can
manage
entitlements\ ON public.entitlements FOR ALL USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true)) WITH CHECK (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE POLICY \Admins
can
manage
admin
audit
log\ ON public.admin_audit_log FOR ALL USING (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true)) WITH CHECK (exists (select 1 from public.profiles p where p.user_id = auth.uid() and p.is_admin = true));
CREATE INDEX IF NOT EXISTS idx_admin_audit_log_admin_user ON public.admin_audit_log (admin_user_id, created_at desc);
CREATE INDEX IF NOT EXISTS idx_admin_audit_log_resource ON public.admin_audit_log (resource_type, resource_id);
CREATE INDEX IF NOT EXISTS idx_profiles_admin ON public.profiles (is_admin) WHERE is_admin = true;
